<%- include("partials/header"); -%>

<h1 class="marginFromTop">About Us</h1>
<p> <%= aboutPagePara %></p>
<img src="images/you-cant-see-me-homer.gif" class="img_ucsm">

<%- include("partials/footer"); -%>
