<%- include("partials/header"); -%>

<h1 class="marginFromTop">Contact</h1>
<br />
<p> <%= contactPagePara %></p>
<ul style="color:#F4F4F4">
  <li><p><a href = "mailto: abc@example.com" style="color:#FFD369">Email Us (click) : vedagupnt7171@gmail.com</a></p></li>
  <li><p><a href="#" style="color:#FFD369;text-decoration: none">Head-Office number : 9324107574</a></p></li>
  <li><p><a href="#" style="color:#FFD369;text-decoration: none">Head-Office address : Silicon Valley, South San Francisco.</a></p></li>
</ul>
<p>Though we are a large team of dedicated professionals, please be patient with our response. We're always there for you :)</p>

<%- include("partials/footer"); -%>
